{% extends "base.html" %}
{% block title %}Logout{% endblock %}

{% block content %}
<main class="content" >
  <div class="mod-details" style="
      background: var(--text-alt-color);
      color: var(--text-color);
      padding: 2em;
      border-radius: 1em;
      max-width: 400px;
      margin: 4em auto;
      box-shadow: 0 0 20px rgba(0,0,0,0.5);
  ">
    <h3 style="text-align: center; color: var(--brand-color); margin-bottom: 1em;">See you again soon</h3>

    <a href="/u/login/" class="button" style="text-align: center; display: block;">Login</a>
  </div>
</main>
{% endblock %}
