{% extends 'base.html' %}
{% load markdown_extras %}

{% block title %}{{ mod.name }}{% endblock %}

{% block content %}
<div class="mod-details">
    <div class="asides">
        <div class="aside left">
            <h2>{{ mod.name }}</h2>
            <p>Updated at: {{ mod.updated_at }}</p>
            <p>Created by: <a href="/u/{{ mod.creator.username }}">{{ mod.creator.username }}</a></p>
            <p>Description: {{ mod.description|markdown }}</p>
        </div>
        <div class="aside right">
            <h3>Latest Version</h3>
            {% if request.user == mod.creator %}
                <a href="{% url 'edit_mod' mod.id %}" class="button">Edit Mod</a>
                <a href="{% url 'upload_mod_version' mod.id %}" class="button">Upload New Version</a>
            {% endif %}
            {% if latest_version %}
                <p>Version: {{ latest_version.version_number }}</p>
                <p>Changelog: {{ latest_version.changelog|linebreaks }}</p>
                <a class="button" href="{{ latest_version.download_link }}">Download</a>
            {% else %}
                <p>No versions available.</p>
            {% endif %}
        </div>
    </div>
        <div class="ad">
            <ins class="adsbygoogle"
                style="display:block; text-align:center;"
                data-ad-layout="in-article"
                data-ad-format="fluid"
                data-ad-client="ca-pub-8764676296426896"
                data-ad-slot="6635106786"></ins>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
        </div>
    <div class="asides">
        <div class="aside left">
            <h3>Comments</h3>
            {% if user.is_authenticated %}
            <form method="post" style="margin-top: 1em;">
                {% csrf_token %}
                {{ form.comment }}
                <button type="submit" class="button">Post Comment</button>
            </form>
            {% else %}
            <p><a href="{% url 'login' %}">Login</a> to post a comment.</p>
            {% endif %}
            {% for comment in comments %}
                <div class="comment">
                    <p><strong>{{ comment.author.username }}</strong> <span class="light">{{ comment.created_at|date:"M d, Y H:i" }}</span>: {{ comment.comment|linebreaks }}</p>
                </div>
            {% empty %}
                <p>No comments yet.</p>
            {% endfor %}
        </div>
        <div class="aside right">
            <h3>All Versions</h3>
            <table>
                <tr>
                    <th>Version</th>
                    <th>Changelog</th>
                    <th>Download</th>
                    {% if request.user == mod.creator %}
                        <th>Edits</th>
                    {% endif %}
                </tr>
                {% for version in all_versions %}
                <tr>
                    <td>{{ version.version_number }}</td>
                    <td>{{ version.changelog|linebreaks }}</td>
                    <td>
                        {% if version.private %}
                        <span class="badge">Private</span>
                        {% else %}
                        <a class="button" href="{{ version.zip_file.url }}">Download</a>
                        {% endif %}
                    </td>
                    {% if request.user == mod.creator %}
                        <td><a href="{% url 'edit_mod_version' version.id %}" class="small">Edit Version</a></td>
                    {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</div>
{% endblock %}